<nav class="navbar navbar-dark bg-primary sticky-top">
  <div class="container">
    <span class="navbar-brand">Database CRUD</span>
    <span class="navbar-text">Ini di buat oleh <a href="http://bwx1y.my.id/">BWX1Y</a></span>
  </div>
</nav>
